# Binaries
Debug-windows-x86_64/
Intermediates/

# Vitar Files
*.log
Sandbox/**.json
VitarEditor/**.json

# VS Files and Directories
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Sandbox/
Vitar/vendor/VulkanSDK
VitarEditor/assets/cache
scripts/__pycache__