[submodule "Vitar/vendor/spdlog"]
	path = Vitar/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vitar/vendor/GLFW"]
	path = Vitar/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Vitar/vendor/imgui"]
	path = Vitar/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Vitar/vendor/glm"]
	path = Vitar/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vitar/vendor/yaml-cpp"]
	path = Vitar/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Vitar/vendor/ImGuizmo"]
	path = Vitar/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo

# [submodule "Vitar/vendor/spdlog"]
# 	path = Vitar/vendor/spdlog
# 	url = ../../gabime/spdlog.git
# 	branch = v1.x
# [submodule "Vitar/vendor/GLFW"]
# 	path = Vitar/vendor/GLFW
# 	url = ../../zong4/glfw.git
# 	branch = master
# [submodule "Vitar/vendor/imgui"]
# 	path = Vitar/vendor/imgui
# 	url = ../../zong4/imgui.git
# 	branch = docking
# [submodule "Vitar/vendor/glm"]
# 	path = Vitar/vendor/glm
# 	url = ../../g-truc/glm.git
# 	branch = master
# [submodule "Vitar/vendor/yaml-cpp"]
# 	path = Vitar/vendor/yaml-cpp
# 	url = https://github.com/thecherno/yaml-cpp
# [submodule "Vitar/vendor/ImGuizmo"]
# 	path = Vitar/vendor/ImGuizmo
# 	url = https://github.com/thecherno/imguizmo
# [submodule "Vitar/vendor/Box2D"]
# 	path = Vitar/vendor/Box2D
# 	url = https://github.com/thecherno/box2d