[submodule "Vitar/vendor/spdlog"]
	path = Vitar/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Vitar/vendor/GLFW"]
	path = Vitar/vendor/GLFW
	url = ../../zong4/glfw.git
	branch = master
[submodule "Vitar/vendor/imgui"]
	path = Vitar/vendor/imgui
	url = ../../zong4/imgui.git
	branch = docking
[submodule "Vitar/vendor/glm"]
	path = Vitar/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Vitar/vendor/yaml-cpp"]
	path = Vitar/vendor/yaml-cpp
	url = ../../zong4/yaml-cpp.git
	branch = master
[submodule "Vitar/vendor/ImGuizmo"]
	path = Vitar/vendor/ImGuizmo
	url = ../../zong4/ImGuizmo.git
	branch = master
[submodule "Vitar/vendor/Box2D"]
	path = Vitar/vendor/Box2D
	url = ../../zong4/box2d.git
	branch = main
